@charset "UTF-8";
/* line 1, style.scss */
html {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

/* line 6, style.scss */
body {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Microsoft YaHei', 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', SimSun, sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0 auto 30px auto;
  background-color: #fff;
}

/* line 15, style.scss */
p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

/* line 21, style.scss */
a {
  text-decoration: none;
}

/* line 25, style.scss */
a:link, a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
}

/*basic styles ends*/
/*animation starts*/
/* line 41, style.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 54, style.scss */
.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 110, style.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*animation ends*/
/* line 122, style.scss */
.content {
  position: relative;
  left: 400px;
  height: 100%;
  width: 940px;
  margin: 20px 0 0;
  padding: 0 30px;
}

/* line 131, style.scss */
.page-top {
  width: 100%;
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 3;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
}
/* line 142, style.scss */
.page-top .nav {
  display: flex;
  justify-content: center;
  list-style: none;
}
/* line 147, style.scss */
.page-top .nav li {
  width: 70px;
  text-align: center;
}
/* line 151, style.scss */
.page-top .nav a {
  color: #fff;
}
/* line 154, style.scss */
.page-top .nav a:hover {
  /*color: #488cb7;*/
  text-shadow: 0 0 5px #fff;
}
/* line 158, style.scss */
.page-top .nav a.current {
  color: #fff;
}
/* line 163, style.scss */
.page-top .information {
  float: right;
  padding-top: 12px;
  padding-right: 20px;
}
/* line 168, style.scss */
.page-top .information .avatar {
  float: right;
}
/* line 171, style.scss */
.page-top .information .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 300px;
}
/* line 177, style.scss */
.page-top .information .back_btn {
  float: left;
  padding-top: 5px;
  margin-right: -10px;
}
/* line 182, style.scss */
.page-top .information .back_btn li {
  display: initial;
  padding-right: 40px;
}

/* line 190, style.scss */
.sidebar {
  width: 400px;
  -webkit-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient(#0a0b10, #061337);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#0a0b10, #061337);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#0a0b10, #061337);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#0a0b10, #061337);
  /* 标准的语法 */
  height: 100%;
  transition: 0.8s;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
}
/* line 205, style.scss */
.sidebar .logo-title {
  position: absolute;
  z-index: 4;
  top: 25%;
  left: 130px;
  text-align: center;
}
/* line 212, style.scss */
.sidebar .logo-title .description {
  font-size: 14px;
  color: #565654;
}
/* line 218, style.scss */
.sidebar .logo-title .logo {
  margin: 0 auto;
}
/* line 223, style.scss */
.sidebar .logo-title .title h3 {
  margin: 20px 0 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
}
/* line 231, style.scss */
.sidebar .logo-title .title a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
}
/* line 237, style.scss */
.sidebar .logo-title .title .authorInfo {
  position: absolute;
  left: -52px;
  width: 234px;
  line-height: 20px;
  margin-top: 12px;
  font-size: 14px;
  color: #fff;
}
/* line 245, style.scss */
.sidebar .logo-title .title .authorInfo span {
  line-height: 40px;
}
/* line 253, style.scss */
.sidebar .social-links {
  list-style: none;
  padding: 0;
  font-size: 14px;
  text-align: center;
}
/* line 259, style.scss */
.sidebar .social-links i {
  margin-right: 3px;
}
/* line 263, style.scss */
.sidebar .social-links li {
  display: inline;
  padding: 0 4px;
  line-height: 0;
}
/* line 269, style.scss */
.sidebar .social-links a {
  color: #565654;
}
/* line 272, style.scss */
.sidebar .social-links a:hover {
  color: #488cb7;
}

/* line 279, style.scss */
.post {
  background-color: #FFF;
  padding: 25px 20px;
}
/* line 282, style.scss */
.post.listClass {
  height: 130px;
  border-bottom: 1px dotted #ddd;
}
/* line 288, style.scss */
.post .post-title h1 {
  margin: 20px 0;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 1;
}
/* line 296, style.scss */
.post .post-title h2 {
  letter-spacing: 1px;
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
  color: #5f5f5f;
}
/* line 306, style.scss */
.post .post-title h3 {
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  color: #333;
  font-size: 20px;
  margin: 0;
}
/* line 316, style.scss */
.post .post-title a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #808080;
}
/* line 320, style.scss */
.post .post-title a:hover {
  color: #488cb7;
}
/* line 327, style.scss */
.post.listClass > .post-content {
  margin: 20px 0 22px;
  color: #666;
}
/* line 330, style.scss */
.post.listClass > .post-content p {
  margin: 0;
  font-size: 14px;
}
/* line 335, style.scss */
.post .post-content {
  color: #555;
  margin: 45px 0 0;
}
/* line 338, style.scss */
.post .post-content p {
  font-size: 16px;
}
/* line 341, style.scss */
.post .post-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #4786D6;
}
/* line 346, style.scss */
.post .post-content a:hover {
  color: #2F69B3;
}
/* line 349, style.scss */
.post .post-content h3 {
  color: #5F5F5F;
  font-size: 22px;
  font-weight: 600;
}
/* line 354, style.scss */
.post .post-content h4 {
  color: #5F5F5F;
  font-size: 16px;
}
/* line 360, style.scss */
.post > .post-title > .info .date {
  margin-right: 50px;
}
/* line 363, style.scss */
.post > .post-title > .info .icon {
  margin-right: 5px;
}
/* line 366, style.scss */
.post > .post-title > .info .visitorInfo {
  display: inline-block;
  width: 200px;
  height: 20px;
  line-height: 20px;
  margin-left: 50px;
}
/* line 373, style.scss */
.post > .post-title > .info a {
  color: #808080;
  text-decoration: none;
}
/* line 376, style.scss */
.post > .post-title > .info a:hover {
  color: #488cb7;
}
/* line 381, style.scss */
.post .post-footer {
  padding: 0;
}
/* line 384, style.scss */
.post .post-footer .meta {
  max-width: 100%;
  height: 25px;
  color: #bbbbbb;
}
/* line 389, style.scss */
.post .post-footer .meta .info {
  font-size: 12px;
}
/* line 391, style.scss */
.post .post-footer .meta .info .date {
  margin-right: 52px;
}
/* line 395, style.scss */
.post .post-footer .meta .info .visitorInfo {
  /*float: right;*/
  display: inline-block;
  width: 200px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 0 40px;
}
/* line 405, style.scss */
.post .post-footer .meta a {
  text-decoration: none;
  color: #bbbbbb;
  padding-right: 10px;
}
/* line 409, style.scss */
.post .post-footer .meta a:hover {
  color: #4786D6;
}
/* line 413, style.scss */
.post .post-footer .meta .icon {
  margin-right: 6px;
  vertical-align: middle;
}
/* line 421, style.scss */
.post .post-footer .tags {
  padding-bottom: 15px;
  font-size: 13px;
}
/* line 425, style.scss */
.post .post-footer .tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 431, style.scss */
.post .post-footer .tags ul li {
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  display: inline;
}
/* line 439, style.scss */
.post .post-footer .tags a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.44);
  font-weight: 400;
}
/* line 444, style.scss */
.post .post-footer .tags a:hover {
  text-decoration: none;
}

/* line 457, style.scss */
.pagination {
  margin: 40px 0 60px;
  padding: 0;
}
/* line 461, style.scss */
.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 13px;
}
/* line 467, style.scss */
.pagination ul li {
  margin: 0 2px 0 2px;
  display: inline;
  line-height: 1;
}
/* line 472, style.scss */
.pagination ul li a {
  color: #999;
  font-size: 16px;
  text-decoration: none;
}
/* line 476, style.scss */
.pagination ul li a:hover {
  border-color: #488cb7;
  color: #488cb7;
  font-size: 16px;
}
/* line 485, style.scss */
.pagination .pre {
  float: left;
}
/* line 487, style.scss */
.pagination .pre .icon {
  margin-right: 5px;
}
/* line 492, style.scss */
.pagination .next {
  float: right;
}
/* line 494, style.scss */
.pagination .next .icon {
  margin-left: 8px;
}

/* line 507, style.scss */
.like-reblog-buttons {
  float: right;
}

/* line 511, style.scss */
.like-button {
  float: right;
  padding: 0 0 0 10px;
}

/* line 516, style.scss */
.reblog-button {
  float: right;
  padding: 0;
}

/* line 521, style.scss */
#install-btn {
  position: fixed;
  bottom: 0px;
  right: 6px;
}

/* line 527, style.scss */
#disqus_thread {
  margin: 30px;
  border-bottom: 1px solid #f2f2f2;
}

/* line 532, style.scss */
.footer {
  clear: both;
  line-height: 18px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  z-index: 4;
  width: 100%;
  padding-bottom: 10px;
}
/* line 543, style.scss */
.footer a {
  color: #fff;
}
/* line 546, style.scss */
.footer a:hover {
  color: #4786D6;
}

/*for archive*/
/* line 559, style.scss */
.archive {
  width: 100%;
}

/* line 562, style.scss */
.list-with-title {
  font-size: 14px;
  margin: 30px;
  padding: 0;
}
/* line 566, style.scss */
.list-with-title li {
  list-style-type: none;
  padding: 0;
}
/* line 571, style.scss */
.list-with-title .listing-title {
  font-size: 24px;
  color: #666666;
  font-weight: 600;
  line-height: 2.2em;
}
/* line 577, style.scss */
.list-with-title .listing {
  padding: 0;
}
/* line 579, style.scss */
.list-with-title .listing .listing-post {
  padding: 0 0 10px 20px;
  font-size: 16px;
}
/* line 583, style.scss */
.list-with-title .listing .listing-post .post-time {
  float: right;
  color: #C5C5C5;
}
/* line 588, style.scss */
.list-with-title .listing .listing-post a {
  color: #8F8F8F;
}
/* line 591, style.scss */
.list-with-title .listing .listing-post a:hover {
  color: #4786D6;
}

/* share */
/* line 600, style.scss */
.share {
  margin: 0px 30px;
  display: inline-flex;
}

/* line 604, style.scss */
.evernote {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #3E3E3E;
  margin-right: 5px;
}
/* line 610, style.scss */
.evernote a {
  color: #fff;
  padding: 11px;
  font-size: 12px;
}
/* line 615, style.scss */
.evernote a:hover {
  color: #ED6243;
  padding: 11px;
}

/* line 620, style.scss */
.weibo {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #ED6243;
  margin-right: 5px;
}
/* line 627, style.scss */
.weibo a {
  color: #fff;
  padding: 9px;
}
/* line 631, style.scss */
.weibo a:hover {
  color: #BD4226;
}

/* line 635, style.scss */
.twitter {
  width: 32px;
  height: 32px;
  border-radius: 300px;
  background-color: #59C0FD;
  margin-right: 5px;
}
/* line 642, style.scss */
.twitter a {
  color: #fff;
  padding: 9px;
}
/* line 646, style.scss */
.twitter a:hover {
  color: #4B9ECE;
}

/* about */
/* line 651, style.scss */
.about {
  margin: 30px;
}
/* line 653, style.scss */
.about h3 {
  font-size: 22px;
}

/* links*/
/* line 658, style.scss */
.links {
  margin: 30px;
}
/* line 660, style.scss */
.links h3 {
  font-size: 22px;
}
/* line 663, style.scss */
.links a {
  cursor: pointer;
}

/* 评论样式 */
/* line 669, style.scss */
.comment-count {
  color: #666;
}

/* line 673, style.scss */
.tab-community {
  color: #666;
}

/* line 677, style.scss */
.read_more {
  font-size: 14px;
}

/* line 681, style.scss */
.back-button {
  padding-top: 30px;
  max-width: 100px;
  padding-left: 40px;
  float: left;
}

/* 默认评论样式 */
/* line 689, style.scss */
#fb_comments_container {
  margin: 30px;
}

/* 按钮样式 */
/* line 693, style.scss */
a.btn {
  color: #868686;
  font-weight: 400;
}

/* line 699, style.scss */
.btn {
  display: inline-block;
  position: relative;
  outline: 0;
  color: rgba(0, 0, 0, 0.44);
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

/* line 716, style.scss */
.btn:hover {
  display: inline-block;
  position: relative;
  outline: 0px;
  color: #464545;
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #464545;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
}

/* line 733, style.scss */
[role="back"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

/* line 738, style.scss */
[role="home"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

/* line 743, style.scss */
[role="navigation"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

/* line 748, style.scss */
[role="tags"] {
  padding: 6px 12px;
}

/* Menu样式 */
/* line 753, style.scss */
.menu {
  float: right;
  padding-top: 30px;
}
/* line 757, style.scss */
.menu .btn-down {
  margin: 0px;
}
/* line 759, style.scss */
.menu .btn-down li {
  list-style: none;
  width: 100px;
}
/* line 763, style.scss */
.menu .btn-down li a {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.25em;
  outline: 0;
  color: rgba(0, 0, 0, 0.44);
  background: transparent;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  margin-top: 5px;
}
/* line 781, style.scss */
.menu .btn-down li a:hover {
  position: relative;
  padding: 0.5em 1.25em;
  outline: 0;
  color: #fff;
  background: #3CBD10;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  margin-top: 5px;
}
/* line 803, style.scss */
.menu .btn-down div {
  position: absolute;
  visibility: hidden;
  width: 100px;
  float: right;
}

/* line 813, style.scss */
.page_404 {
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 960px) {
  /* line 818, style.scss */
  .sidebar {
    width: 100%;
    position: absolute;
    border-right: none;
    z-index: 1;
  }
  /* line 823, style.scss */
  .sidebar .logo-title {
    padding-top: 120px;
  }
  /* line 828, style.scss */
  .sidebar .logo-title .title img {
    width: 100px;
  }
  /* line 831, style.scss */
  .sidebar .logo-title .title h3 {
    font-size: 20px;
  }

  /* line 837, style.scss */
  .page-top {
    width: 100%;
  }

  /* line 840, style.scss */
  .post-title h3 {
    line-height: 1.6;
  }

  /* line 843, style.scss */
  .content {
    margin-top: 420px;
    width: 100%;
    z-index: 2;
    position: absolute;
  }

  /* line 849, style.scss */
  .footer {
    display: none;
  }

  /* line 852, style.scss */
  .share {
    display: grid;
  }
}
/************ Keyon--新增 ************/
/* line 860, style.scss */
.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/spirit.png);
  overflow: hidden;
  vertical-align: middle;
}

/* line 869, style.scss */
.icon-biaoqian {
  background-position: -3px -124px;
  width: 18px;
  height: 18px;
}

/* line 870, style.scss */
.icon-liulan {
  background-position: -3px -105px;
  width: 20px;
  height: 18px;
}

/* line 872, style.scss */
.icon-fanhui {
  background-position: -3px -194px;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

/* line 873, style.scss */
.icon-prev {
  background-position: -3px -230px;
  width: 12px;
  height: 15px;
  cursor: pointer;
}

/* line 874, style.scss */
.icon-next {
  background-position: -35px -230px;
  width: 12px;
  height: 15px;
  cursor: pointer;
}

/* line 875, style.scss */
.icon-email {
  background-position: -3px -248px;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

/* line 876, style.scss */
.icon-github {
  background-position: -3px -266px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* line 877, style.scss */
.icon-sf {
  background-position: -3px -288px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* line 878, style.scss */
.icon-qqqun {
  background-position: -3px -310px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* line 879, style.scss */
.icon-high {
  background-position: -35px -336px;
  width: 22px;
  height: 20px;
  cursor: pointer;
}

/* line 881, style.scss */
.icon-fanhui:hover {
  background-position: -35px -194px;
}

/* line 882, style.scss */
.pre:hover .icon-prev {
  background-position: -16px -230px;
}

/* line 883, style.scss */
.next:hover .icon-next {
  background-position: -52px -230px;
}

/* line 884, style.scss */
.help-tip:hover .icon-email {
  background-position: -35px -248px;
}

/* line 885, style.scss */
.help-tip:hover .icon-github {
  background-position: -35px -266px;
}

/* line 886, style.scss */
.help-tip:hover .icon-sf {
  background-position: -35px -288px;
}

/* line 887, style.scss */
.help-tip:hover .icon-qqqun {
  background-position: -35px -310px;
}

/*.icon-high:hover{background-position: -35px -336px;}*/
/* line 891, style.scss */
.tagsNav {
  box-sizing: border-box;
  width: 1000px;
  height: 80px;
  padding: 40px 30px 0;
  margin-left: 400px;
}

/* line 898, style.scss */
.tags_ul {
  height: 39px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  list-style: none;
  border-bottom: 1px solid #ddd;
}
/* line 905, style.scss */
.tags_ul li {
  display: inline-block;
  width: 120px;
  height: 37px;
  line-height: 36px;
  text-align: center;
}
/* line 911, style.scss */
.tags_ul li a {
  color: #666;
}
/* line 914, style.scss */
.tags_ul li.active {
  border-bottom: 3px solid #488cb7;
}
/* line 916, style.scss */
.tags_ul li.active a {
  color: #488cb7;
}
/* line 920, style.scss */
.tags_ul li:hover a {
  color: #488cb7;
}

/* line 925, style.scss */
.btn_goback {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 30px;
}

/* line 934, style.scss */
.breadCrumb {
  margin: 50px 15px 0;
  font-size: 14px;
  color: #999;
}
/* line 938, style.scss */
.breadCrumb a {
  margin: 0 5px;
  color: #488cb7;
}

/* line 945, style.scss */
.title .high {
  position: absolute;
  top: 175px;
  right: -35px;
  height: 20px;
  overflow: unset;
}

/* line 953, style.scss */
.contacts {
  position: absolute;
  width: 150px;
  height: 20px;
  padding: 0;
  margin-top: 104px;
}
/* line 959, style.scss */
.contacts li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
}
/* line 964, style.scss */
.contacts li > a {
  height: 20px;
  line-height: 20px;
  font-size: 20px !important;
}

/* line 973, style.scss */
.webinfo {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
